<meta charset="utf-8">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<meta name="description" content="{{ .Description | default site.Params.description }}">
{{- $keywords := .Keywords | default site.Params.keywords -}}
{{- with $keywords }}
<meta name="keywords" content="{{ delimit . ", " }}">
{{- end }}
<meta name="viewport" content="width=device-width">
<meta name="robots" content="index,follow">
<meta name="twitter:card" content="summary_large_image">
<meta http-equiv="Content-Language" content="{{ .Site.Language.LanguageCode }}">
{{- $author := (.Param "author") | default site.Params.author -}}
{{- with $author }}
<meta name="author" content="{{ . }}">
{{- end }}
{{ template "_internal/opengraph.html" . }}
<link rel="canonical" href="{{ .Permalink }}">
{{ partialCached "head/css.html" . }}
