{{- $page    := .page    -}}
{{- $menuID  := .menuID  -}}

{{- range .menuEntries }}
  {{- $attrs := dict "href" .URL }}
  {{- if $page.IsMenuCurrent .Menu . }}
        {{- $attrs = merge $attrs (dict "class" "active"   "aria-current" "page") }}
  {{- else if $page.HasMenuCurrent .Menu . }}
        {{- $attrs = merge $attrs (dict "class" "ancestor" "aria-current" "true") }}
  {{- end }}

  {{- $name := .Name }}
  {{- with .Identifier }}{{ with T . }}{{ $name = . }}{{ end }}{{ end }}
  <a{{- range $k,$v := $attrs }} {{ printf "%s=%q" $k $v | safeHTMLAttr }}{{- end }}>{{ $name }}</a>
{{- end }}
