{{ define "main" }}

<div class="hero-image-container">
<img src="img/top.webp"/>
</div>

<h2 class="term-title">Features</h2>
<div class="grid grid-3">
  <div class="card">
    <h3>Simplicity</h3>
    <p>
      Designed without external CSS or JavaScript dependencies, ensuring fast loading speeds and robust performance.
    </p>
  </div>
  <div class="card">
    <h3>Taxonomy Support</h3>
    <p>
      Easily categorize and organize your content using built-in categories and tags.
    </p>
  </div>
  <div class="card"><img src="img/icon3.webp" alt="">
    <h3>Markdown Extensions</h3>
    <p>
      Supports advanced markdown features including direct text import for displaying code snippets clearly and effectively.
    </p>
  </div>
</div>

<h2 class="term-title">Recent Posts</h2>

{{ $pages := site.RegularPages.ByDate.Reverse }}
{{ $paginator := .Paginate $pages }}
{{ range $paginator.Pages }}
  <article>
    {{ partial "article-date.html" . }}
    <h3 class="article-title">
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </h3>
    {{ partial "article-categories.html" . }}
    {{ .Summary }}
  </article>
{{ end }}



<h2 class="term-title">Updated Categories</h2>
  <article>
    <ul class="categories-list">
      {{- $cats := slice -}}
      {{- range first 100 (site.RegularPages.ByDate.Reverse) }}
          {{- $cats = $cats | append .Params.categories -}}
      {{- end }}
      {{- $cats = uniq $cats -}}
      {{- range first 10 $cats }}
      {{ $category := . | urlize }}
          <li><a href="{{ "categories/" | relLangURL }}{{ $category }}.html">{{ . }}</a></li>
      {{- end }}
    </ul>
</article>


{{ end }}
