{{ define "main" }}

{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format "2006/01/02" }}

<article>
  {{ partial "article-date.html" . }}
  <h1 class="article-title">{{ .Title }}</h1>
  {{ partial "article-categories.html" . }}
  {{ .Content }}
</article>

{{ $pages := site.RegularPages.ByDate }}

<nav class="nav-post">
  {{ with $pages.Prev . }}
    <a class="prev" href="{{ .RelPermalink }}">« Prev: {{ .LinkTitle }}</a>
  {{ end }}

  {{ with $pages.Next . }}
    <a class="next" href="{{ .RelPermalink }}"> Next: {{ .LinkTitle }} »</a>
  {{ end }}
</nav>
  
<section>
  {{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}
</section>

<section>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
</section>

{{ end }}
